<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="player">
            <h2><span jhiTranslate="footApp.player.detail.title">Player</span> {{player.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="footApp.player.name">Name</span></dt>
                <dd>
                    <span>{{player.name}}</span>
                </dd>
                <dt><span jhiTranslate="footApp.player.avatar">Avatar</span></dt>
                <dd>
                    <div *ngIf="player.avatar">
                        <a (click)="openFile(player.avatarContentType, player.avatar)">
                            <img [src]="'data:' + player.avatarContentType + ';base64,' + player.avatar" style="max-width: 100%;" alt="player image"/>
                        </a>
                        {{player.avatarContentType}}, {{byteSize(player.avatar)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="footApp.player.win">Win</span></dt>
                <dd>
                    <span>{{player.win}}</span>
                </dd>
                <dt><span jhiTranslate="footApp.player.lose">Lose</span></dt>
                <dd>
                    <span>{{player.lose}}</span>
                </dd>
                <dt><span jhiTranslate="footApp.player.draw">Draw</span></dt>
                <dd>
                    <span>{{player.draw}}</span>
                </dd>
                <dt><span jhiTranslate="footApp.player.mvp">Mvp</span></dt>
                <dd>
                    <span>{{player.mvp}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/player', player.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
