<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="teamS">
            <h2><span jhiTranslate="footApp.teamS.detail.title">Team S</span> {{teamS.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="footApp.teamS.name">Name</span></dt>
                <dd>
                    <span>{{teamS.name}}</span>
                </dd>
                <dt><span jhiTranslate="footApp.teamS.playerS">Player S</span></dt>
                <dd>
                    <span *ngFor="let playerS of teamS.playerS; let last = last">
                        <a [routerLink]="['/player', playerS?.id, 'view' ]">{{playerS.name}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/team-s', teamS.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
