<div>
  <h3>Liste des matchs:</h3>
  <table>
    <thead>
      <tr>
        <th>id</th>
        <th>date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let match of matches" (click)="getPlayers(match.id)">
        <td>{{match.id}}</td>
        <td>{{match.date}}</td>
      </tr>
    </tbody>
  </table>
  <!-- routerLink="/vote/{{match.id}}"-->
</div>

<div *ngIf="players.length>0">
  <h3>Liste des joueurs:</h3>
  <table>
    <thead>
      <tr>
        <th>id</th>
        <th>Nom</th>
        <th>Rate</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let player of players">
        <td>{{player.id}}</td>
        <td>{{player.name}}</td>
        <td>
          <jhi-rating [rating]='player.rating' [playerId]='player.id' (ratingClick)='ratingComponentClick($event)'></jhi-rating>
        </td>
      </tr>
    </tbody>
  </table>
  <button (click)=validateRating()>Valider vote</button>
</div>